//Colors
$white: #f5f5f5;
$gray: #757575;
$black: #000000;
$orange: #dd9004;
$blue: #036;
$default-text-color: $black !default;

//Fonts
$Bungee: "Bungee Shade", regular;
$Basic: "Quattrocento", regular;
