.App-header {
  display: flex;
  height: 25rem;
  padding: 20px;
  color: white;
  background: url(https://wallpaperclicker.com/storage/wallpaper/NYC-cityscape-HD-40047284.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .App-header .App-title {
    justify-content: flex-start; }
  .App-header div.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0%;
    width: 100%; }

.App-title {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-family: "Bungee Shade", regular;
  color: #036; }

div.registerForm,
div.login-container {
  justify-content: space-around;
  color: #036;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 5%; }

.register-title {
  display: flex;
  justify-content: center;
  color: #036; }

.login-container button:hover {
  background: #f5f5f5; }

.login-container.button {
  background-color: #000000; }

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .navbar li {
    display: inline-block; }
    .navbar li a:hover {
      background-color: #f5f5f5; }
    .navbar li a {
      display: block;
      color: #036;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .navbar li .dropdown:hover .dropdown-content {
      display: block; }
    .navbar li .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f5f5f5;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px #757575; }
      .navbar li .dropdown .dropdown-content a {
        color: #036;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left; }
      .navbar li .dropdown .dropdown-content a:hover {
        background-color: #757575; }
    .navbar li .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: #036;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0; }
  .navbar .navbar a:hover,
  .navbar .dropdown:hover .dropbtn {
    background-color: #f5f5f5; }

ul.navbar {
  margin: 0%;
  background-color: #f5f5f5; }

.AddItemButtonClass {
  display: flex;
  justify-content: flex-end; }
  .AddItemButtonClass a {
    text-decoration: none; }

div.CategoryHomePage {
  margin-top: auto;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f5f5f5;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #fafafa;
  -moz-box-shadow: 5px 5px 5px #212221;
  -webkit-box-shadow: 5px 5px 5px #180d0d;
  -khtml-box-shadow: 5px 5px 5px #040000; }

ul.CategoryItems {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }
  ul.CategoryItems a {
    border-style: solid;
    border-color: green; }

.CategoryRow {
  border-style: solid;
  border-color: orange;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

div.ParentHomeClass {
  margin: 0%;
  background-color: white;
  border-style: solid;
  border-color: blue; }

span.CategoryName {
  font-size: 50px;
  border-style: solid;
  border-color: red;
  height: 25%;
  display: block;
  width: 100%;
  justify-content: flex-start;
  text-align: center;
  font-family: "Bungee Shade", regular; }

.SingleItemFromCateogor {
  border-style: solid;
  border-color: purple;
  height: 35%; }

.itemlist-title {
  text-align: center;
  padding-bottom: 45px; }

.items-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f5f5f5;
  opacity: 0.5; }
  .items-list .list-items {
    text-align: center;
    border-style: solid;
    border-color: white;
    height: 100px; }
    .items-list .list-items .item-link {
      text-align: center;
      width: 345px; }
      .items-list .list-items .item-link .a {
        text-decoration: none; }
  .items-list .item-list-content {
    font-size: 10px; }
  .items-list .list-items:hover {
    opacity: .5; }

.search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 5%; }

html {
  height: 100%;
  margin: 0%; }

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column; }
  body div.Main {
    position: relative;
    font-family: "Quattrocento", regular;
    height: 47rem;
    flex: 1; }

ul {
  list-style: none;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000000; }

footer.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Bungee Shade", regular;
  color: #000000;
  background-color: white;
  z-index: 1; }

.item {
  margin-top: auto;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  border-style: solid;
  -moz-box-shadow: 10px 10px 5px #0d0e0d;
  -webkit-box-shadow: 10px 10px 5px #180d0d;
  -khtml-box-shadow: 10px 10px 5px #040000; }

.item-img-container {
  text-align: center; }
  .item-img-container .item-img {
    width: 475px;
    height: 400px; }
  .item-img-container .item-img:hover {
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out; }

.item-content {
  width: 300px; }
  .item-content .item-name {
    text-align: center; }
  .item-content .item-info {
    height: 200px; }

.item-content:hover {
  opacity: 0.5; }

.input-des {
  height: 45px; }

.edit-form {
  justify-content: center;
  text-align: center; }

.edit-title {
  -moz-box-shadow: 5px 5px 5px #9fa09f;
  -webkit-box-shadow: 5px 5px 5px #8e8a8a;
  -khtml-box-shadow: 5px 5px 5px #8e8a8a; }

.edit-title:hover {
  opacity: 0.5; }

.form-container {
  text-align: center; }
  .form-container .form-content {
    background-color: #f5f5f5;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
    padding-bottom: 100px;
    -moz-box-shadow: 5px 5px 5px #8e8a8a;
    -webkit-box-shadow: 5px 5px 5px #8e8a8a;
    -khtml-box-shadow: 5px 5px 5px #8e8a8a; }
    .form-container .form-content .form-content:hover {
      opacity: 0.7; }

.UserItemsLis {
  border-style: solid;
  border-color: red; }

.ItemsList {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0; }

.item-card {
  text-align: center;
  width: 25%;
  list-style-type: none;
  border-style: solid;
  border-radius: 16px;
  border-color: #fafafa; }
  .item-card .item-card-innerContainer {
    text-align: center; }

.item-card:hover {
  opacity: 0.5; }

.home-user-header {
  text-align: center;
  text-transform: uppercase; }

.home-card-container {
  width: 100%; }

.home-card-img {
  max-width: 100%;
  max-height: 100%; }
