.App-header {
  display: flex;
  height: 25rem;
  padding: 20px;
  color: white;
  background: url(https://wallpaperclicker.com/storage/wallpaper/NYC-cityscape-HD-40047284.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .App-header .App-title {
    justify-content: flex-start; }
  .App-header div.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0%;
    width: 100%; }

.App-title {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-family: "Bungee Shade", regular;
  color: #036; }

div.registerForm,
div.login-container {
  justify-content: space-around;
  color: #036;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 5%; }

.register-title {
  display: flex;
  justify-content: center;
  color: #036; }

.login-container button:hover {
  background: #f5f5f5; }

.login-container.button {
  background-color: #000000; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.Mains {
  transition: margin-left 0.5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.AddItemButtonClass {
  display: flex;
  justify-content: flex-end; }
  .AddItemButtonClass a {
    text-decoration: none; }

.itemlist-title {
  text-align: center;
  padding-bottom: 45px; }

.items-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f5f5f5;
  opacity: 0.5; }
  .items-list .list-items {
    text-align: center;
    border-style: solid;
    border-color: white;
    height: 100px; }
    .items-list .list-items .item-link {
      text-align: center;
      width: 345px; }
      .items-list .list-items .item-link .a {
        text-decoration: none; }
  .items-list .item-list-content {
    font-size: 10px; }
  .items-list .list-items:hover {
    opacity: .5; }

.search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 5%; }

html {
  height: 100%;
  margin: 0%; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column; }
  body div.Main {
    transition: margin-left 0.5s;
    padding: 20px;
    position: relative;
    font-family: "Quattrocento", regular;
    height: 47rem;
    flex: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000000; }

footer.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Bungee Shade", regular;
  color: #000000;
  background-color: white;
  z-index: 1; }

main.page-content {
  display: flex;
  justify-content: center; }

div.item {
  margin-top: auto;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  border-style: solid;
  -moz-box-shadow: 10px 10px 5px #0d0e0d;
  -webkit-box-shadow: 10px 10px 5px #180d0d;
  -khtml-box-shadow: 10px 10px 5px #040000; }

.item-img-container {
  text-align: center; }
  .item-img-container .item-img {
    width: 475px;
    height: 400px; }
  .item-img-container .item-img:hover {
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out; }

.item-content {
  width: 300px; }
  .item-content .item-name {
    text-align: center; }
  .item-content .item-info {
    height: 200px; }

.item-content:hover {
  opacity: 0.5; }

.edit-form {
  justify-content: center;
  text-align: center; }

.edit-title {
  -moz-box-shadow: 5px 5px 5px #9fa09f;
  -webkit-box-shadow: 5px 5px 5px #8e8a8a;
  -khtml-box-shadow: 5px 5px 5px #8e8a8a; }

.edit-title:hover {
  opacity: 0.5; }

.form-container {
  text-align: center; }
  .form-container .form-content {
    background-color: #f5f5f5;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
    padding-bottom: 100px;
    -moz-box-shadow: 5px 5px 5px #8e8a8a;
    -webkit-box-shadow: 5px 5px 5px #8e8a8a;
    -khtml-box-shadow: 5px 5px 5px #8e8a8a; }
    .form-container .form-content .form-content:hover {
      opacity: 0.7; }
