html {
  height: 100%;
  margin: 0%;
  // background: url(https://images8.alphacoders.com/541/541862.jpg) no-repeat
  //   center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  div.Main {
    transition: margin-left 0.5s;
    padding: 20px;

    position: relative;
    font-family: $Basic;
    height: 47rem;
    flex: 1;
  }
}

// :root {
//   —space: 1.5em 0;
//   —space: 2em 0;
// }
// .Site-content {
//   flex: 1 0 auto;
//   padding: var(— space) var(— space) 0;
//   width: 100%;
// }
// .Site-content:after {
//   content: ‘\00a0’;
//   display: block;
//   margin-top: var(— space);
//   height: 0;
//   visibility: hidden;
// }
ul {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
}

footer.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: $Bungee;
  color: $black;
  background-color: white;
  z-index: 1;
}
