html {
  height: 100%;
  margin: 0%;
  background: url(https://images8.alphacoders.com/541/541862.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 25%;
  opacity: 1;
}

body {
  margin: 0;
  height: 100%;
  div.Main {
    font-family: $Basic;
    min-height: 100%;

    // background-color: $white;
    flex-wrap: nowrap;
    overflow-x: auto;

    flex: 0 0 auto;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}

footer {
  // height: 50px;
  // margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: $Bungee;
  color: $black;
}
