//HEADER
.App-header {
  display: flex;
  height: 25rem;
  padding: 20px;
  color: white;
  background: url(https://wallpaperclicker.com/storage/wallpaper/NYC-cityscape-HD-40047284.jpg)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .App-title {
    justify-content: flex-start;
    // border-style: inset;
  }
  div.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0%;
    width: 100%;
  }
  // display: flex;
  // justify-content: space-around;
}
