//HEADER
.App-header {
  height: 25%;
  padding: 20px;
  color: white;
  // background: url(https://images8.alphacoders.com/541/541862.jpg) no-repeat
  //   center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // height: 25%;
  .App-title {
    display: flex;
    justify-content: space-around;
  }
  .login-container {
    justify-content: center;
    padding: 0%;
  }
  // display: flex;
  // justify-content: space-around;
}
