.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float: left;
  border-style: inset;
  border-color: whitesmoke;
}

.App-intro {
  font-size: large;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

.search-container {
  float: right;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
}

.search-container button:hover {
  background: #ccc;
}

.login-container.button {
  background-color: #555555;
}
