.App-header {
  background-color: black;
  height: 100px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap; }

.App-title {
  display: flex;
  justify-content: center;
  border-style: inset;
  border-color: #dd9004;
  padding: 1%; }

.search-container button:hover {
  background: #757575; }

.login-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 5%; }

.login-container button:hover {
  background: #f5f5f5; }

.login-container.button {
  background-color: #363636; }

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #363636; }

li {
  display: inline-block; }

li a {
  display: block;
  color: #dd9004;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

li a:hover {
  background-color: #f5f5f5; }

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #dd9004;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: whitesmoke; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #757575;
  z-index: 1; }

.dropdown-content a {
  color: #dd9004;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #757575; }

.dropdown:hover .dropdown-content {
  display: block; }

.Main {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #f5f5f5; }

.CategoryName {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  height: 100%; }
